* {
    margin: 0%;
    padding: 0%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1119B9;
  }

#Download {
    padding: 10px 10px;
    background-color: #ffdaaf;
    border: none;
    border-radius: 1800px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    position: absolute;
    text-decoration: none;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

}


  button {
    padding: 3px 6px;
    background-color: white;
    border: none;
    border-radius: 1800px;
    color: #1119B9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar li {
    float: right;
  }
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
  }

  .navbar a:hover {
    background-color: darkslategray;
  }

#Hero {
    filter: brightness(85%);
}

  .Throne {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 150px;
    left: 8px;
    font-size: 125px;
    font-weight: bolder;
    color: #e79f06;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #b10505;
  }
  
  .top-left {
    position: absolute;
    top: 50px;
    left: 8px;
    font-size: 125px;
    font-weight: bolder;
    color: #e79f06;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #b10505;
  }

.MiddleText{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1119B9;
    text-align: center;
    font-size: 65px;
    color: white;
    margin-bottom: 0;
    padding: 0;
    height: 80px;
  }

.text {
    color: #1119B9;
}

body {
   background-color: #b10505;

}

.box {
    height: 50px;
    width: 50px;
    padding: 20px;
    background-color: white
}

.header
{
    background-color: #1119B9;
}

.box .text {
    color: #1119B9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.Character {
  margin: 20px;
  padding: 20px;
  float: left;
  border-radius: 50px;
  padding: 20px;
  width: 650px;
  height: 500px;

}

.CharacterText {
  color: #5e2026;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.box2 {
  margin: 40px;
  padding: 20px;
  float: left;
  background-color: #a5a282;
  border-radius: 50px;
  padding: 20px;
  width: 600px;
  height: 460px;

}

.box2 h1 {
  color: #5e2026;
  font-weight: bolder;
  font-size: 60px;
}

.box2 p {
  color: black;
  font-size: 35px;
  margin-top: 10%;
}

.Character2 {
  margin: 20px;
  padding: 20px;
  float: right;
  border-radius: 50px;
  width: 650px;
  height: 500px;
  margin-right: 60px;

}

.MiddleText2{
  list-style-type: none;
  overflow: hidden;
  background-color: #1119B9;
  text-align: center;
  font-size: 65px;
  color: white;
  height: 80px;
  margin-top: 1200px;

}


.BottomText{
  list-style-type: none;
  overflow: hidden;
  background-color: #1119B9;
  font-size: 30px;
  color: white;
  text-align: right;
  height: 130px;
  margin-top: 600px;
  word-spacing: 100px;
  
}

.BottomText p {
  margin-top: 90px;
  word-spacing: 5px;
  font-size: large;
  color: rgb(194, 189, 189);
}